*{  padding:0;  margin:0;  }
html,body{
    min-width: 1200px;
}
.fl{  float: left;  }
.fr{  float: right;  }
.wrap{width: 1200px;  margin:0 auto;  }
li{list-style: none}
a{  text-decoration: none;color: #333}
.flow{overflow: hidden;}
body{color: #333;font-size: 12px;
    background-color:#f5f5f5;}
input, textarea {
    outline: none;
}
img{
    border: none;
}
/*header*/
.header{
    height:31px ;
    background: #f2f2f2;
    border-bottom: 1px solid #ddd;
    min-width: 1200px;
}
.header span{
    height: 15px;
    width: 20px;
    float: left;
}
.home{
    line-height: 31px;
    font-size: 12px;
    color: #666;
    width: 100px;
    height:30px;
}
.home span{
    margin-top: 9px;
    background: url("../images/integr.png") no-repeat -4px -243px;
}
.head-top{
    min-width:453px;
    height: 31px;
    float: right;
}
.head-top li{
    float: left;
    margin:0 5px 0 5px;
    height: 31px;
    line-height: 31px;
    position: relative;
}
.head-top .span_order{
    margin-top: 11px;
    background: url("../images/integr.png") no-repeat -4px -540px;
}
.head-top .span_car{
    margin-top: 10px;
    margin-right: 2px;
    background: url("../images/integr.png") no-repeat -4px -428px;
}
.head-top a{
    font-size: 12px;
    color: #666;
    border-right:1px solid #ddd;
    padding: 0 7px;
}
.head-top li:first-of-type a{
    border-right: 0;
}
.head-subNav{
    position: absolute;
    background: #f2f2f2;
    z-index: 99999;
    width: 74px;
    top: 100%;
    left: -11px;
    background: #eee;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 3px 3px;
    text-align: center;
    display: none;
}
.head-top .head-subNav a{
    display:block;
    border:none;
    padding: 0;
}
/*搜索框*/
.search{
    min-width: 1200px;
    padding-top: 15px;
    height: 75px;
    background: #fff;
    position: relative;
    z-index: 9999;
    outline: none;
}
.search_logo{
    width: 240px;
    height:75px;
    background: url("../images/logo.png") no-repeat;
}
.search_m{
    width: 482px;
    height: 65px;
    position: relative;
    margin-left: 80px;
}
.selected{
    text-align: center;
    display: block;
    height: 34px;
    width: 64px;
    line-height: 34px;
    color: #f07;
    cursor: pointer;
    background-color: #fff;
}
.search_box input{
    float: left;
}
.search_box input:first-of-type{
    display: block;
    overflow: hidden;
    width: 305px;
    height: 22px;
    line-height: 22px;
    padding: 6px 0 6px 10px;
    border: none;
    color: #999;
    font-size: 12px;
    background-color: #fff;
    outline: none;
}
.search_box input:last-of-type{
    float: right;
    height: 34px;
    line-height: 34px;
    overflow: hidden;
    width: 100px;
    background-color: #f07;
    background-image: linear-gradient(to right,#f25,#ff1581);
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    border-radius: 0 5px 5px 0;
}
.search_box{
    border: 1px solid #f07;
    width: 480px;
    height: 34px;
    border-radius: 0 6px 6px 0;
}
.searContent{
    position: absolute;
    left: 60px;
    top: 35px;
    width: 320px;
    z-index: 999;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #f07;
    border-top: 1px solid #f07;
    overflow: hidden;
    min-height: 286px;
    display: none;
}
.history{
    padding: 10px;
}
.searContent a{
    padding: 0 10px;
    height: 34px;
    line-height: 34px;
    width: 300px;
    float: left;
    overflow: hidden;
}
.searContent h3{
    height: 16px;
    line-height: 16px;
    color: #999;
    font-weight: 400;
    font-size: 12px;
}
.searContent a:hover{
    background-color: #ffeef4;
}
/*搜索框悬浮*/
.search_fix{
    position: fixed;
    top: 0;
    width: 100%;
    height: 45px;
    position: fixed;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 6px 0 #ccc;
}
.search_nav{
    display: none;
    padding: 10px 30px;
    width: 110px;
    height: 43px;
    font-family: PingFangSC;
    font-size: 14px;
    color: rgb(255, 0, 119);
    margin-left: 5px;
    vertical-align: middle;

}
.search_nav span{
    font-family: PingFangSC;
    font-size: 14px;
    color: rgb(255, 0, 119);
    margin-left: 5px;
    vertical-align: middle;
}
.search_nav b{
    margin-top:2px;
    margin-right: 3px;
    display: block;
    width: 20px;
    height: 20px;
    background: url("../images/slogo.png");
    float: left;
}
.search_nav i{

    float: right;
    margin-top:3px ;
}

.hotwords li{
    float: left;
    margin-top: 10px;
}
.hotwords a{
    color: #424242;
    float: left;
    height: 20px;
    line-height: 20px;
    line-height: 20px;
    margin: 0 12px 0 0;
}
.hotwords a:hover{
    text-decoration: underline;
    color: #f07;
}
.hotwords{
    height: 20px;
}
.search_r{
    width: 220px;
    height: 90px;
    margin-top: -10px;
    background:url("../images/erweima.png") no-repeat;
}

/*//bottom*/
.bottom{
    min-width: 1200px;
    height: 267px;
    margin-top: 30px;
}
.bottom img{
    border:none;
    cursor: pointer;
}
/*右侧固定*/
.sidebar{
    position: fixed;
    height: 100%;
    z-index: 9999;
    top: 0;
    width: 30px;
    right: 0;
    color: #fff;
    font-size: 12px;
    background: #202020;
}
.rightbar_blank{  position: relative;
    top: 0;
    right: 0;
    height: 10%;
    width: 30px;
}
.sidebar-item{
    position: relative;
    padding: 4px 4px 0;
    text-align: center;
    background: #202020
}
.sidebar-item a {
    display: block;
    color: #fff;
    text-align: center;
    line-height: 15px;
    border-bottom: 1px solid rgba(221,221,221,.6);
    padding-bottom: 12px;
}
#rightbar_blank{
    position: relative;
    top: 0;
    right: 0;
    height: 10%;
    width: 30px;
    height: 20px;
}
#sidebar-top{
    position: absolute;
    bottom: 10px;
}
.head-top .showName{
    width: 100px;
    height: 30px;
    display: inline-block;
}